<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
</head>

<body style="margin: 20px 50px;">
    <div style="display: grid; grid-template-columns: auto auto;">
        <div>
            <label for="version">Version</label>
            <input id="version">
        </div>
    
        <div>
            <label for="map-url">Map URL</label>
            <input id="map-url">
        </div>
    
        <div>
            <label for="start-date">Start Date</label>
            <input id="start-date" type="date">
        </div>
    
        <div>
            <label for="stop-date">Stop Date</label>
            <input id="stop-date" type="date">
        </div>
    </div>

    <div>
        <button id="submit" type="submit" class="mod-primary">Save</button>
    </div>

    <script type="module">
        import { tryGetApiClient } from '../js/trelloRestApi.js'

        let t = window.TrelloPowerUp.iframe();

        const dateFormat = 'YYYY-MM-DD';

        // UI elements
        let versionInput = document.getElementById('version'); 
        let startDateInput = document.getElementById('start-date'); 
        let stopDateInput = document.getElementById('stop-date'); 
        let mapUrlInput = document.getElementById('map-url'); 
        let submitBtn = document.getElementById('submit'); 

        let validate = function() {
            let startDate = moment(startDateInput.value, dateFormat);
            if (!startDate.isValid()) {
                return 'Invalid date ' + startDateInput.value;
            }

            let stopDate = moment(stopDateInput.value, dateFormat);
            if (!stopDate.isValid()) {
                return 'Invalid date ' + stopDateInput.value;
            }

            if (startDate > stopDate) {
                return 'Stop date must be greated than start date';
            }

            return null;
        }

        let submit = async function () {
            // validate input
            let errorMessage = validate();
            if (errorMessage) {
                await t.alert({
                    message: errorMessage, 
                    display: 'error',
                });
                return;
            }

            // save input
            let info = {
                version: versionInput.value,
                startDate: startDateInput.value,
                stopDate: stopDateInput.value,
                mapUrl: mapUrlInput.value,
            }
            await t.set('board', 'shared', info);
            await t.closeModal();
        }

        t.render(async function() {
            // init
            let info = await t.get('board', 'shared');
            versionInput.value = info.version || "";
            startDateInput.value = info.startDate || dateFormat;
            stopDateInput.value = info.stopDate || dateFormat;
            mapUrlInput.value = info.mapUrl || "";

            submitBtn.addEventListener('click', submit);
        });
    </script>
</body>

</html>